.sponsoringCanvas {
  width: 100%;
  height: 30rem;
  border-radius: 2rem;
}

.sponsoringIfcjsLogo {
  width: 4rem;
  animation: logo-spin 6s infinite 0s cubic-bezier(0.38, 0.01, 0, 0.99);
}

.sponsorPicture {
  width: 2rem;
  pointer-events: all;
  border-radius: 100%;
  position: absolute;
  transition: width 0.15s ease-in-out;
}

.sponsorPicture:hover {
  width: 5rem;
}

.sponsorText {
  background: rgba(30, 30, 30, 0.3);
  font-size: 0.7rem;
  padding: 0.5rem;
  margin-bottom: 0.3rem;
  border-radius: 0.5rem;
  color: white;
}

.hidden {
  visibility: hidden;
}

@keyframes logo-spin {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
