.ifcTabItem {
    width: 100% !important;
    justify-content: center;
}

.ifcTabContent {
    margin: 2rem;
    padding: 3rem;
    border-radius: var(--ifm-alert-border-radius);
    background-color: var(--ifm-highlight-color);
    box-shadow: var(--box-shadow);
    transition: var(--box-shadow-transition);
}

.linkContainer{
    display: flex;
    justify-content: flex-end;
}

.hidden{
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
}

.visible{
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.link {
    text-decoration: none !important;
    position: absolute;
    font-size: 1.5rem;
    transform: translateY(-25px);
    text-align: center;
    cursor: pointer;
}

.ifcTabContent:hover{
    box-shadow: var(--box-shadow-big);
  }

@media (max-width: 1400px) {
    .ifcTabItem {
        font-size: 1rem;
    }

    .ifcTabContent {
        margin: 2rem 0;
        padding: 1.5rem;
    }
  }